<h2>これは問題の解答画面です。</h2>

<h3>以下の日本語を英訳してください。</h3>
I am Tom.
<br>
<%=form_tag"/training/submit" do%>
<textarea name="content"></textarea>
<% end %>
<br>
<a href="/training/result"><input type="submit" value="提出"></a>
