<!DOCTYPE html>
<html>
  <head>
    <title>Bu</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class="container">
    <header>
      <a href="/">Be.you</a>
      <a href="/training/index">トレーニングする！</a>
    </header>
    <body>
      <%= yield %>
    </body>
  </div>
</html>
